[{:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nRumah bagus <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[false "pertanyaan" 0] [true "non pertanyaan" 1]],
   :jawaban "B"},
  :problem-id "0e87087a2c5b4af596108d1d0dae95d9"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nSandal rusak <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[false "pertanyaan" 0] [true "non pertanyaan" 1]],
   :jawaban "B"},
  :problem-id "f3a35aa1fefa4e30b962dbfb1bd67f67"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nLantai rusak <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[true "non pertanyaan" 0] [false "pertanyaan" 1]],
   :jawaban "A"},
  :problem-id "0670d13740ef42cca699d40f1308670b"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nKamera mahal <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[false "pertanyaan" 0] [true "non pertanyaan" 1]],
   :jawaban "B"},
  :problem-id "e492b2fee09d4792a8295ddc67c2fe8f"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nRumah hitam <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[false "pertanyaan" 0] [true "non pertanyaan" 1]],
   :jawaban "B"},
  :problem-id "1033099ec54d47d1a561bfcf9ab10023"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nLaptop berantakan <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[true "non pertanyaan" 0] [false "pertanyaan" 1]],
   :jawaban "A"},
  :problem-id "2d4b26532f494d538341e60d879c1c3d"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nMajalah baru <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[false "pertanyaan" 0] [true "non pertanyaan" 1]],
   :jawaban "B"},
  :problem-id "9364d184363d4209a8430e2ffd049f45"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nRumah kusam <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[false "pertanyaan" 0] [true "non pertanyaan" 1]],
   :jawaban "B"},
  :problem-id "e86cf30abb9647c1a8f3ec3a7b49a9f4"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nBaju mewah <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[true "non pertanyaan" 0] [false "pertanyaan" 1]],
   :jawaban "A"},
  :problem-id "9415c648f06c423cb3d1bdcbc1f3100f"}
 {:topic :verbal-logic,
  :bahas
  "\n\nPernyataan itukan kalimat yang bernilai benar atau salah. <br>\n Jadi kalo sesuatu itu bukan kalimat, ya bukan pernyataan yaaaa. <br>\n Kalimat itu minimal ada subjek dan predikat, kalau frasa itu menempati satu posisi aja (misal subjek aja), jadi bukan kalimat. \n",
  :soal
  {:soal-text "\n\nCermin putih <br>\n Bentuk di atas merupakan ... \n</p>\n\n\n",
   :options [[true "non pertanyaan" 0] [false "pertanyaan" 1]],
   :jawaban "A"},
  :problem-id "dd485124d2ea45d8abfcd3ac0d01f149"}]
clj꞉progen.GenerateVerbal꞉> 
[{:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Nio adalah seorang ayah, jadi Nio orang yang berpengalaman. <br>\n Berarti pertama kalian tau kalo Nio itu ayah, <br>\n terus apa bisa langsung ambil kesimpulan Nio itu orang yang berpengalaman? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan ayah sama orang yang berpengalaman, terus tinggal pilih hubungan ayah sama orang yang berpengalaman mana, <br>\n yang bikin kesimpulan Nio itu orang yang berpengalaman jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nNio adalah seorang ayah, jadi Nio itu orang yang berpengalaman <br>\n Kalimat mana yang diperlukan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[false "sebagian orang yang berpengalaman itu ayah. " 0]
    [false "Argumen sudah lengkap." 1]
    [false "semua orang yang berpengalaman itu ayah. " 2]
    [false "sebagian ayah itu orang yang berpengalaman. " 3]
    [true "semua ayah itu orang yang berpengalaman. " 4]],
   :jawaban "E"},
  :problem-id "7e107ccb2d234da19e8ead0e216c19ed"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Jose adalah seorang pengangkat galon, jadi Jose orang yang berkecukupan. <br>\n Berarti pertama kalian tau kalo Jose itu pengangkat galon, <br>\n terus apa bisa langsung ambil kesimpulan Jose itu orang yang berkecukupan? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan pengangkat galon sama orang yang berkecukupan, terus tinggal pilih hubungan pengangkat galon sama orang yang berkecukupan mana, <br>\n yang bikin kesimpulan Jose itu orang yang berkecukupan jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nJose adalah seorang pengangkat galon, jadi Jose itu orang yang berkecukupan <br>\n Kalimat mana yang diperlukan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[true "semua pengangkat galon itu orang yang berkecukupan. " 0]
    [false "sebagian pengangkat galon itu orang yang berkecukupan. " 1]
    [false "Argumen sudah lengkap." 2]
    [false "semua orang yang berkecukupan itu pengangkat galon. " 3]
    [false "sebagian orang yang berkecukupan itu pengangkat galon. " 4]],
   :jawaban "A"},
  :problem-id "76e8569810e44d86b2ac5dafb53b9db7"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Messi adalah seorang nelayan, jadi Messi laki-laki orang dewasa. <br>\n Berarti pertama kalian tau kalo Messi itu nelayan, <br>\n terus apa bisa langsung ambil kesimpulan Messi itu laki-laki orang dewasa? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan nelayan sama laki-laki orang dewasa, terus tinggal pilih hubungan nelayan sama laki-laki orang dewasa mana, <br>\n yang bikin kesimpulan Messi itu laki-laki orang dewasa jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nMessi adalah seorang nelayan, jadi Messi itu laki-laki orang dewasa <br>\n Kalimat mana yang diperlukan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[false "sebagian laki-laki orang dewasa itu nelayan. " 0]
    [false "semua laki-laki orang dewasa itu nelayan. " 1]
    [false "sebagian nelayan itu laki-laki orang dewasa. " 2]
    [false "Argumen sudah lengkap." 3]
    [true "semua nelayan itu laki-laki orang dewasa. " 4]],
   :jawaban "E"},
  :problem-id "086bab0654214e3a920aa1c8952757d4"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Leo adalah seorang satpam, jadi Leo orang yang terampil. <br>\n Berarti pertama kalian tau kalo Leo itu satpam, <br>\n terus apa bisa langsung ambil kesimpulan Leo itu orang yang terampil? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan satpam sama orang yang terampil, terus tinggal pilih hubungan satpam sama orang yang terampil mana, <br>\n yang bikin kesimpulan Leo itu orang yang terampil jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nLeo adalah seorang satpam, jadi Leo itu orang yang terampil <br>\n Kalimat manakah yang dibutuhkan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[false "semua orang yang terampil itu satpam. " 0]
    [true "semua satpam itu orang yang terampil. " 1]
    [false "sebagian orang yang terampil itu satpam. " 2]
    [false "sebagian satpam itu orang yang terampil. " 3]
    [false "Argumen sudah lengkap." 4]],
   :jawaban "B"},
  :problem-id "6d9a2d41453e4c38875be66fb49a9e52"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Tio adalah seorang kurir, jadi Tio kepala keluarga. <br>\n Berarti pertama kalian tau kalo Tio itu kurir, <br>\n terus apa bisa langsung ambil kesimpulan Tio itu kepala keluarga? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan kurir sama kepala keluarga, terus tinggal pilih hubungan kurir sama kepala keluarga mana, <br>\n yang bikin kesimpulan Tio itu kepala keluarga jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nTio adalah seorang kurir, jadi Tio itu kepala keluarga <br>\n Untuk melengkapi argumen, kalimat mana yang diperlukan? \n</p>\n\n\n",
   :options
   [[false "sebagian kurir itu kepala keluarga. " 0]
    [true "semua kurir itu kepala keluarga. " 1]
    [false "semua kepala keluarga itu kurir. " 2]
    [false "Argumen sudah lengkap." 3]
    [false "sebagian kepala keluarga itu kurir. " 4]],
   :jawaban "B"},
  :problem-id "e4776eac63a94948b6cdacf003f1cfd1"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Adit adalah seorang montir, jadi Adit kepala keluarga. <br>\n Berarti pertama kalian tau kalo Adit itu montir, <br>\n terus apa bisa langsung ambil kesimpulan Adit itu kepala keluarga? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan montir sama kepala keluarga, terus tinggal pilih hubungan montir sama kepala keluarga mana, <br>\n yang bikin kesimpulan Adit itu kepala keluarga jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nAdit adalah seorang montir, jadi Adit itu kepala keluarga <br>\n Kalimat manakah yang dibutuhkan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[true "semua montir itu kepala keluarga. " 0]
    [false "sebagian montir itu kepala keluarga. " 1]
    [false "sebagian kepala keluarga itu montir. " 2]
    [false "Argumen sudah lengkap." 3]
    [false "semua kepala keluarga itu montir. " 4]],
   :jawaban "A"},
  :problem-id "ef4fae83285c46e1af5e1d307d9bc1a7"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Aryo adalah seorang montir, jadi Aryo orang yang berpengalaman. <br>\n Berarti pertama kalian tau kalo Aryo itu montir, <br>\n terus apa bisa langsung ambil kesimpulan Aryo itu orang yang berpengalaman? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan montir sama orang yang berpengalaman, terus tinggal pilih hubungan montir sama orang yang berpengalaman mana, <br>\n yang bikin kesimpulan Aryo itu orang yang berpengalaman jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nAryo adalah seorang montir, jadi Aryo itu orang yang berpengalaman <br>\n Kalimat mana yang diperlukan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[false "Argumen sudah lengkap." 0]
    [false "sebagian orang yang berpengalaman itu montir. " 1]
    [true "semua montir itu orang yang berpengalaman. " 2]
    [false "semua orang yang berpengalaman itu montir. " 3]
    [false "sebagian montir itu orang yang berpengalaman. " 4]],
   :jawaban "C"},
  :problem-id "0b9f418274b74f38bf8a69e27b5959d8"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Leo adalah seorang ayah, jadi Leo tulang punggung keluarga. <br>\n Berarti pertama kalian tau kalo Leo itu ayah, <br>\n terus apa bisa langsung ambil kesimpulan Leo itu tulang punggung keluarga? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan ayah sama tulang punggung keluarga, terus tinggal pilih hubungan ayah sama tulang punggung keluarga mana, <br>\n yang bikin kesimpulan Leo itu tulang punggung keluarga jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nLeo adalah seorang ayah, jadi Leo itu tulang punggung keluarga <br>\n Kalimat manakah yang dibutuhkan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[true "semua ayah itu tulang punggung keluarga. " 0]
    [false "sebagian ayah itu tulang punggung keluarga. " 1]
    [false "semua tulang punggung keluarga itu ayah. " 2]
    [false "Argumen sudah lengkap." 3]
    [false "sebagian tulang punggung keluarga itu ayah. " 4]],
   :jawaban "A"},
  :problem-id "e316eb30e8b142dc81b2785cd3792c37"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Aulia adalah seorang supir, jadi Aulia laki-laki orang dewasa. <br>\n Berarti pertama kalian tau kalo Aulia itu supir, <br>\n terus apa bisa langsung ambil kesimpulan Aulia itu laki-laki orang dewasa? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan supir sama laki-laki orang dewasa, terus tinggal pilih hubungan supir sama laki-laki orang dewasa mana, <br>\n yang bikin kesimpulan Aulia itu laki-laki orang dewasa jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nAulia adalah seorang supir, jadi Aulia itu laki-laki orang dewasa <br>\n Untuk melengkapi argumen, kalimat mana yang diperlukan? \n</p>\n\n\n",
   :options
   [[false "Argumen sudah lengkap." 0]
    [false "semua laki-laki orang dewasa itu supir. " 1]
    [false "sebagian laki-laki orang dewasa itu supir. " 2]
    [false "sebagian supir itu laki-laki orang dewasa. " 3]
    [true "semua supir itu laki-laki orang dewasa. " 4]],
   :jawaban "E"},
  :problem-id "410b4316c6d94ff8b698c2e92bebd9e8"}
 {:topic :verbal-logic,
  :bahas
  "\n\nArgumen ini tuh ga lengkap. Kenapa? <br>\n Soalnya ada hal yang gak disebutin, dengan anggapan 'ah kamu pasti ngerti' atau 'ah semua orang pasti tau lah', <br>\n padahal ga boleh gitu, karena jadinya asumsi. <br>\n Makanya perlu dilengkapin. Adit adalah seorang kurir, jadi Adit orang yang berkecukupan. <br>\n Berarti pertama kalian tau kalo Adit itu kurir, <br>\n terus apa bisa langsung ambil kesimpulan Adit itu orang yang berkecukupan? <br>\n Gak bisa ya, kurang infonya. Kalian harus tambahin apa nih? <br>\n Tambahin hubungan kurir sama orang yang berkecukupan, terus tinggal pilih hubungan kurir sama orang yang berkecukupan mana, <br>\n yang bikin kesimpulan Adit itu orang yang berkecukupan jadi bener dan tidak tergoyahkan deh intinya. Gitu ya, selamat mencoba~ \n",
  :soal
  {:soal-text
   "\n\nAdit adalah seorang kurir, jadi Adit itu orang yang berkecukupan <br>\n Kalimat mana yang diperlukan untuk melengkapi argumen? \n</p>\n\n\n",
   :options
   [[false "Argumen sudah lengkap." 0]
    [false "semua orang yang berkecukupan itu kurir. " 1]
    [true "semua kurir itu orang yang berkecukupan. " 2]
    [false "sebagian orang yang berkecukupan itu kurir. " 3]
    [false "sebagian kurir itu orang yang berkecukupan. " 4]],
   :jawaban "C"},
  :problem-id "70582cbdf75649bca699a995ed861cfc"}]
