* {
	box-sizing: border-box;
}

body {
	background-color: #DCDCDC;
	margin: 0;
}

.navbar {
	background-color: white;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar h2 {
	text-align: center;
	margin-top: 27px;
}

.gg-close-r {
	box-sizing: border-box;
	color: black;
	position: absolute;
	display: block;
	transform: scale(var(--ggs,1));
	width: 30px;
	height: 30px;
	border: 2px solid;
	border-radius: 4px;
	top: 30px;
	left: 1300px;
}

.gg-close-r::after, .gg-close-r::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 25px;
	height: 2px;
	background: currentColor;
	transform: rotate(45deg);
	border-radius: 5px;
	top: 12px;
}

.gg-close-r::after {
	transform: rotate(-45deg);
}

.tab {
	float: left;
	position: fixed;
	margin-top: 81px;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 25%;
}

.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 25px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
}

.tab button:hover {
	background-color: #ddd;
}

.tabcontent {
	float: left;
	margin: 100px 0 20px 375px;
	width: 70%;
	border-left: none;
}

.content {
	margin-top: 20px;
	padding: 1px 30px;
  background-color: white;
  border-radius: 6px;
}

.jawaban {
	border: 1px solid grey;
	border-radius: 7px;
	padding: 13px;
}

.jawaban-benar {
	background-color: rgba(0,255,0,0.3);
	border: 1px solid green;
	border-radius: 7px;
	padding: 13px;
}
